h1 {text-align: center;}

body { font: 16px Arial;}

li.w { padding-bottom: 10px;}

td {padding:3px 15px 3px 25px; vertical-align: text-top;}

.n, tt {font-family:monospace;
        color: #500000;
        fill: #500000;
        font-weight: bold;}

.ll    {font-family:sans-serif;
        font-size: 20px;
        font-weight: bold;}